// text

$pale-violet: hsl(276, 100%, 81%);
$moderate-violet: hsl(276, 55%, 52%);
$dst-drk-blue: hsl(271, 15%, 43%);
$grayish-blue: hsl(206, 6%, 79%);
$very-drk-violet: hsl(271, 36%, 24%);
$drk-grayish-violet: hsl(270, 7%, 64%);

//gradients

$lt-magenta: hsl(293, 100%, 63%);
$lt-violet: hsl(264, 100%, 61%);

//secondary

$white: hsl(0, 0%, 100%);
$lt-grayish-violet: hsl(270, 20%, 96%);
$lt-gr-violet: hsla(270, 20%, 70%, 0.178);
$drk-dst-violet: hsl(271, 36%, 24%);
$very-lt-magenta: hsl(289, 100%, 72%);
